.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.signin-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 350px;
  padding: 24px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.signin-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.signin-btn {
   background: var(--bg-dark);
    color: white;
    font-weight: 500;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

.signin-btn:hover {
  background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}
